body{
	margin: 0;
	padding: 0;
}
.container{
	width: 90%;
	margin: 0 auto;
}
header{
	font-size: 20px;
	text-align: center;
	min-height: 100px;
	background-color: orange;
	margin-bottom: 50px;
}
.main{
	overflow: hidden;
}
.content{
	font-size: 20px;
	text-align:center;
	min-height: 400px;
	background-color: orange;
	width: 70%;
	float: left;
}
.sidebar{
	font-size: 20px;
	text-align:center;
	min-height: 400px;
	background-color: orange;
	width: 28%;
	float: right;
}

footer{
	font-size: 20px;
	text-align:center;
	min-height: 100px;
	background-color: orange;
	margin-top: 50px;
}
h2{
	text-align: center;
	font-style: italic;
	color: dodgerblue;
}






















